/*onepage checkout*/
#onepage-checkout .large-field { width: 200px; }
#onepage-checkout .smail-field{ width: 65px; }
#onepage-checkout .tiny-field { width: 30%; }
#onepage-checkout .checkout-content { display: block; }
#onepage-checkout p { margin: 0; padding: 0; }
#onepage-checkout select { background: #F8F8F8;
border: 1px solid #CCCCCC;
padding: 7px 2px;
font-size: 12px;
margin: 0;
padding: 0;
height: 100%; }
#onepage-checkout #confirm .checkout-product table tr td { width: 19%; word-break:break-word; }
#onepage-checkout #confirm .checkout-product .image { text-align: center; margin: 0; padding:0; }
#confirm .checkout-product .quantity { width: 15%; text-align: center; }
#confirm .model { display: none;}

.checkout-heading {bord-bottom: 2px solid #b80101;}
.checkout-heading span{color: #d20101}